:root {
  --primary-color: rgb(255, 92, 92);
  --primary-varian: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 50px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-color: rgb(15, 65, 255);
  --primary-varian: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--background);
  color: var(--on-background);
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;

  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
p,
li {
  text-align: justify;
  font-size: 23px;
  letter-spacing: 2px;
}
p,
li:first-letter {
  font-size: 28px;
  margin-left: 20px;
}

.language-switcher {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 125px;
  top: 30px;
}

.bulgarian {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-image: url("img/bg.png");
  width: 40px;
  height: 25px;
  background-size: contain;
  margin-right: 10px;
}

.english {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-image: url("img/uk.png");
  width: 40px;
  height: 25px;
  background-size: contain;
}

/*Light/ dark mode*/

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 30px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background: #fff;
  border-bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50px;
  margin-top: 4px;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}
/*
nav {
  z-index: 10;
  position: fixed;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  backdrop-filter: blur(4px);
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}*/

/* Common Styles */
nav {
  z-index: 10;
  position: fixed;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}

/* Desktop Menu */
.container a {
  display: inline-block;
}

/* Mobile Menu */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px 0;
  transition: 0.4s;
}

/* Hidden by default */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  text-align: center;
  padding-top: 50px;
}

.mobile-menu a {
  display: block;
  margin: 20px 0;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container a {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

section {
  position: relative;
  min-height: 100vh;
}
h1 {
  font-size: 56px;
}

h1,
h2,
h3 {
  position: relative;
  /* margin-top: 634px; */
  top: 110px;
  text-align: center;
  margin-bottom: 200px;
}

h1 {
  margin-bottom: 20px !important;
}
h3 {
  font-size: 42px;
}

.bw {
  filter: grayscale(100%);
}

.introPic {
  width: 150px;
  height: 150px;
  margin-top: 200px !important;
  border-radius: 50%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: block;
}

/*test*/
.author {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.roundedPhoto {
  display: inline-block;
  border-radius: 50%;
  background-color: #8c8c8c;
  background-color: rgba(140, 140, 140, 0.75);
  color: #fff;
  border: 0 none;
  padding: 0;
  text-align: center;
  width: 300px;
  height: 300px;
  line-height: 3em;
  position: relative;
  transition: all 0.25s ease-in-out;
}
.roundedPhoto:hover {
  background-color: #e44848;
  color: #fff;
}
.roundedPhoto:hover:before {
  -webkit-animation: roundedPhoto-beat 1.5s ease-out infinite;
  animation: roundedPhoto-beat 1.5s ease-out infinite;
}
.roundedPhoto:hover:after {
  -webkit-animation: roundedPhoto-beat 1.5s ease-out 0.4s infinite;
  animation: roundedPhoto-beat 1.5s ease-out 0.4s infinite;
}
.roundedPhoto:before,
.roundedPhoto:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e44848;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
@-webkit-keyframes roundedPhoto-beat {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  70% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
@keyframes roundedPhoto-beat {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  70% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}

/*Flip card*/

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flip-card-front {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1500px;
}

.close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.small {
  font-size: 18px;
}

.mt-30 {
  margin-top: 30px !important;
}

.flip-card-front img {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  .flip-card-front img {
    width: unset;
  }
}
